<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>Edit your listing here:</h3>
    <form
      method="POST"
      action="/listings/<%= listingDetails._id%>?_method=PUT"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="listings[title]"
          value="<%=listingDetails.title%>"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title looks good!</div>
        <div class="invalid-feedback">Title must be required</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">description</label>
        <textarea
          type="text"
          name="listings[description]"
          class="form-control"
          required
        >
<%=listingDetails.description%>
</textarea
        >
        <div class="invalid-feedback">Description shoudn't blank</div>
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            name="listings[country]"
            value="<%=listingDetails.country%>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Country name should be valid</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="price" class="form-label">Price</label>
          <input
            type="number"
            name="listings[price]"
            value="<%=listingDetails.price%>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Price should be valid</div>
        </div>
      </div>

      <div class="mb-3">
        present original image<br />
        <img src="<%=originalImageUrl%>" />
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Upload new Image</label>
        <input type="file" name="listings[image]" class="form-control" />
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="listings[location]"
          value="<%=listingDetails.location%>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Location should be valid</div>
      </div>

      <button class="btn btn-dark edit-btn mt-3">Save</button><br /><br /><br />
    </form>
  </div>
</div>
